@import url('https://fonts.googleapis.com/css2? family = Montserrat & display = swap');
@import url('https://fonts.googleapis.com/css2? family = Lobster & display = swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

:root {
    --blue:#007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --background: #f7f5f5;
}

body {
    background-color: var(--background);
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}